* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

}
main {
border: solid black 1px;
width: 90%;
margin: auto;
margin-block: 20px;
display: flex;
}

form {
    border: solid red 1px;
    width: 500px;
    
    ;

    /* margin: auto; */
}
