*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif
    
}

h2{
    font-size: 28px;
}

.img-banniere{
    width: 280px;
    padding-top: 40px;
}

article{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 20px;
    
   
}

.p-grey{
    color: rgb(129, 129, 129);
    font-size: 15px;
    margin-top: 9px;
}

.produit{
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: 1px solid rgb(238, 237, 237);
    width: 300px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    gap: 5px;
    padding-top: 20px;
    box-shadow: 5px 5px 10px rgb(219, 216, 216);
    padding-inline: 20px;
}

.banniere-image{
    background: linear-gradient(10deg, rgba(0, 0, 0, 0), rgb(226, 226, 226)), black;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 650px;
    
}

.casque-rouge{
    object-fit: cover;
    width: 600px;
    height: 600px;
    padding: 40px;
}

.banniere-txt{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: start;
    text-transform: uppercase;
    color: white;
    font-size: 35px;
}

