<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/log.css" />
    <script
      src="https://kit.fontawesome.com/54eb68e3e7.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <a href="../index.html" class="name-site icon">e-teamz</a>
      <nav>
        <a href="" class="icon"><i class="fa-solid fa-cart-shopping"></i></a>
        <a href="../view/log.html" class="icon"><i class="fa-solid fa-right-to-bracket"></i></a>
      </nav>
    </header>
    <main>
      <section class="back-form">
        <video class="background-video" autoplay loop muted>

            <source src="../assets/videos/sofian/DLOAD.INFO Beats by Dre _ Solo Pro _ Billie Eilish.mp4" type="video/mp4">
            
            </video>
        <form class="form">
            <h2 class="connect">connectez vous</h2>
          <div class="glob-champ">
            <div>
              <label for="email">email</label>
              <input type="email" class="champ" />
            </div>
            <div>
              <label for="password">mot de passe</label>
              <input type="password" class="champ" />
            </div>
          </div>

          <div class="c-button">
            <input type="submit" value="connexion" class="button" />
            <a href="../view/insc.html" class="button">s'inscrire</a>
          </div>
        </form>
      </section>
    </main>
  </body>
</html>
